{% extends 'base.html' %} {% block title %}Home Page{% endblock title %} 
{% load static %}
{% block content %}
<h1>Post</h1>
<ul>
  {% for post in object_list %}
  <div class="card mt-3">
    <div class="row">
      <div class="col-md-4">
        {% if post.header_image %}
        <img src="{{post.header_image.url}}" class="img-fluid" alt="">
        {% else %}
        <img src="{% static 'blog/images/1.png' %}" class="img-fluid" alt="">
        {% endif %}
        
      </div>
      <div class="col-md-8">
        <h3 class="card-title mt-3">{{post.title}} - Category {{post.category}}</h3>
        <h4><small>By: {{post.author.first_name}} {{post.author.last_name}}</small></h4>
      </div>
    </div>
  </div>
  {% endfor %}
</ul>
{% endblock content%}
